/* details of row of company */
#specific_company_details
{
    background: #FFFFFF;
    border: 1px solid #CFCBCF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2vw 1vw;
}
#specific_company_details img{
    width: 50px !important;
    height: auto;
}

/* trade cARD */
#specific_company_trade_card
{
    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid #CFCBCF;
    box-sizing: border-box;
    border-radius: 10px;
}


/* inventory */
#specific_company_inventory
{
    background: #FFFFFF;
    border: 1px solid #CFCBCF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2vw 1vw;
}