
/* discover companies */
.discover_companies_wrapper
{
    background: #f0f2f9;
    border-radius: 10px 0 0 10px;
}
.discover_companies_wrapper p:first-child
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #2E384D;
} 

.discover_companies_wrapper span{
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #2E384D;
}

.discover_companies_wrapper .company_name
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #2E384D;

}
.discover_companies_wrapper .companycard
{
    background: #FFFFFF;
    border: 1px solid #CFCBCF;
    box-sizing: border-box;
    box-shadow: 0px 5px 50px #EAEEFA;
    border-radius: 10px;
    min-width: 18rem;
}

.discover_companies_wrapper button
{
    width: 98px;
    height: 34px;
    border: 1px solid #721B65;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    background-color:#fbfbff ;
    font-size: 14px;
    line-height: 17px;
}
.discover_companies_wrapper button:hover
{
    background-color:#721B65 ;
    color: white;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0px !important;  /* Remove scrollbar space */
    background: transparent !important;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
div::-webkit-scrollbar-thumb {
    background: #721B65;
    border: 6px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}


@media only screen and (max-width: 678px) {
    .discover_companies_wrapper .companycard
    {
        min-width: 14rem;
    }
  }