.navbar-top nav{
    background-color: #721B65;
}

.navbar-top nav .navbar-brand
{
    width:auto;
    height:42px;
    margin-right: 30px !important;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 
  .navbar-top nav ul li a {
    color:white;
}
.navbar-top .nav-item
{
    margin: 0 5px;
}
.navbar-top .nav-item:hover
{
    background-color: white;
    border-radius: 10px;
}
.navbar-top .nav-item:hover  a
{
    color: #721B65 !important ;
}
.navbar-top .nav-item .nav-link
{
    text-align:center;
}
.navbar-top nav .active{
    background-color: white;
    border-radius: 10px;
    color: #721B65 !important ;
}
.navbar-top nav .active a{
    color: hsl(309, 62%, 28%) ;
}

.navbar-top nav #right-icons a
{
    margin: 5px 10px;
    color: white;
}