/* common css */
/* .p-14-17-600-gray   ->  p-fontsize-lineheight-fontweight-color */

.bg-gray
{
  background-color:#2E384D ;
}

.btn-violet-text-white
{
  background: #721B65;
  color:white;
  border-radius: 5px;
}
.btn-violet-text-white:hover
{
  background-color:white;
  color: #721B65;
}

.text-violet
{
    font-family: Montserrat;
    font-style: normal;
    color: #721B65;
}

.text-gray
{
    font-family: Montserrat;
    font-style: normal;
    color: #2E384D;
}
.btn-violet
{
  border: 1px solid #721B65;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  background-color:#fbfbff ;
  font-size: 14px;
  line-height: 17px;
}
.btn-violet:hover
{
  background-color:#721B65 ;
  color: white;
}

.p-10-12-600-gray
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: capitalize;
  color: #2E384D;
}

.p-12-15-500-gray
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #2E384D;
}

.p-12-15-600-gray
{

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #2E384D;
}

.p-14-17-normal-gray
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2E384D;
}

.p-14-17-bold-gray
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2E384D;
}

.p-14-17-500-gray
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2E384D;
}
.p-14-17-500-violet
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #721B65;
}
.p-14-17-600-gray
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2E384D;
}

.p-14-20-bold-gray
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2E384D;
}
.p-14-20-500-gray
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2E384D;
}

.p-14-20-bold-violet
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #721B65;
}

.p-14-20-700-gray
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2E384D;
}


.p-16-20-bold-gray
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2E384D;
}
.p-16-20-600-violet
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #721B65 !important;
}
.p-18-20-600-gray
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #2E384D !important;
}

.p-18-20-600-violet
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #721B65 !important;
}

.p-18-22-bold-gray
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2E384D !important;
}

.p-22-20-bold-gray
{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 20px;
color: #2E384D;
}

.p-22-27-bold-gray
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #2E384D;
}

/* button css */
.btn-solid-violet-white
{
  background: #721B65;
  border-radius: 4px !important;
  color: white;
}
.btn-solid-violet-white:hover
{
background:#2E384D;
transition: 0.4s;
color: white;
}

.btn-w180-h48
{
  width: 140px;
  height: 40px;
}

/* vcolor */
.text-violet
{
  color: #721B65;
}

/* phone css got classes by inspect element after final html is made up */
 .PhoneInput {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  border: 1px solid #CFCBCF; 
  box-sizing: border-box; 
  border-radius: 4px;
}
.PhoneInputInput
{
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}
.PhoneInputInput:focus
{
  outline: none !important;
}



/* modal custom */

.modal .modal-dialog-aside{ 
	width: 350px; max-width:80%; height: 100%; margin:0;transform: translate(0); transition: transform .2s;
}
.modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0;}
.modal .modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }
.modal.fixed-left .modal-dialog-aside{ margin-left:auto;  transform: translateX(100%); }
.modal.fixed-right .modal-dialog-aside{ margin-right:auto; transform: translateX(-100%); }
.modal.show .modal-dialog-aside{ transform: translateX(0);  }




/* scrollbar */

/* ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #555; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #721B65; 
    border: 1px solid #555;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
  } */

